/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.mainContainer a {
    font-weight: 500;
}

.badge {
    padding: .2em .6em;
    color: #fff;
    border-radius: 8em;
}

.badge.todo {
    background: #c91111;
}

.badge.todo:after {
    content: 'Todo';
}

.badge.warning {
    background: #ff9c00;
}

.badge.warning:after {
    content: 'Warning';
}

.badge.doc {
    background: #0f75da;
}

.badge.doc:after {
    content: 'Doc';
}